#INGEST STATEMENT

In [1]:
import import_ipynb

In [2]:
from modules.ingest_statement import *

importing Jupyter notebook from C:\Users\nomnc\OneDrive\.ipynb_checkpoints\modules\ingest_statement.ipynb

In [3]:
X=create_onedrive_directdownload('https://1drv.ms/x/s!AiVkYGtq2xelg8Q2juJgJ9xbPnFcWA?e=1PqwVY')

In [4]:
sant_tbl=read_file(X)

In [5]:
sant_tbl.select('*').where(sant_tbl.amount > 0 ).show()

AttributeError: 'DataFrame' object has no attribute 'amount'