# INGEST STATEMENT-BUNQ

In [1]:
import import_ipynb

In [2]:
from modules.ingest_statement import *

importing Jupyter notebook from C:\Users\nomnc\OneDrive\.ipynb_checkpoints\modules\ingest_statement.ipynb

In [3]:
X=create_onedrive_directdownload('https://1drv.ms/x/s!AiVkYGtq2xelg8Qdj0pRi33vVMMzag?e=TpHMBp')

## Read bunq file

In [4]:
bunq_tbl=read_file(X)

## Convert columns to lower case

In [5]:
for col in bunq_tbl.columns:
    bunq_tbl = bunq_tbl.withColumnRenamed(col, col.lower())

## Drop  'interest,account and counterparty' attributes

In [6]:
bunq_tbl=bunq_tbl.drop('interest date','account','counterparty')

In [7]:
from pyspark.sql.functions import when,lit

## Create 'money_out' attribute

In [8]:
bunq_tbl=bunq_tbl.withColumn("money_out", \
              when((bunq_tbl.amount < 0),lit(bunq_tbl.amount*-1)) \
              .otherwise(lit(''))\
             )

## Create 'money_in' attribute

In [9]:
bunq_tbl=bunq_tbl.withColumn("money_in", \
              when((bunq_tbl.amount > 0),lit(bunq_tbl.amount)) \
              .otherwise(lit(''))\
             )

## Drop 'amount' attribute

In [10]:
bunq_tbl=bunq_tbl.drop('amount')

## Rename 'name' to merchant

In [11]:
bunq_tbl=bunq_tbl.withColumnRenamed('name','merchant')

## Convert date to timestamp

In [12]:
from pyspark.sql import functions as F

In [13]:

bunq_tbl=bunq_tbl.withColumn('date', F.col('date').cast("timestamp"))

## add buffer attributes to prepare for union

In [14]:
bunq_tbl=bunq_tbl.select(
"date",
"merchant",
"description",
"money_out",
"money_in",
lit('bunq').alias("account"),
lit('NL').alias("account_country"),
lit('').alias("spending_category"),
lit('').alias("type"),
lit('').alias("original_currency_amount"),
lit('euro').alias("currency"),
lit('').alias("conversion_rate"),
lit('').alias("merchant_town"),
lit('').alias("merchant_postcode"),
lit('').alias("merchant_country")
)

## Correct Data types to prepare for Union

In [15]:
bunq_tbl=bunq_tbl.withColumn("original_currency_amount",bunq_tbl.original_currency_amount.cast('double'))
bunq_tbl=bunq_tbl.withColumn("conversion_rate",bunq_tbl.conversion_rate.cast('double'))

In [16]:
from pyspark.sql import functions as F

In [17]:
import capital_one

importing Jupyter notebook from capital_one.ipynb
+--------------------+------+--------------+---------+
|                date|amount|conversionrate|money_out|
+--------------------+------+--------------+---------+
|2022-08-22T00:00:00Z| 36.39|           1.0|    36.39|
|2022-08-22T00:00:00Z|   2.3|           1.0|      2.3|
|2022-08-19T00:00:00Z|   4.6|           1.0|      4.6|
|2022-08-19T00:00:00Z| 23.65|           1.0|    23.65|
|2022-08-19T00:00:00Z| 26.65|           1.0|    26.65|
|2022-08-18T00:00:00Z|   9.0|           1.0|      9.0|
|2022-08-18T00:00:00Z|   4.6|           1.0|      4.6|
|2022-08-18T00:00:00Z|   1.0|           1.0|      1.0|
|2022-08-18T00:00:00Z| 17.96|           1.0|    17.96|
|2022-08-18T00:00:00Z|  4.45|           1.0|     4.45|
|2022-08-16T00:00:00Z| 23.75|           1.0|    23.75|
|2022-08-14T00:00:00Z|  9.99|           1.0|     9.99|
|2022-08-13T00:00:00Z|  38.5|           1.0|     38.5|
|2022-08-12T00:00:00Z| 41.14|           1.0|    41.14|
|2022-08-11T00:00:00Z|  3.95|           1.0|     3.95|
|2022-08-11T00:00:00Z|   2.0|           1.0|      2.0|
|2022-08-11T00:00:00Z| 17.45|           1.0|    17.45|
|2022-08-10T00:00:00Z|  7.31|           1.0|     7.31|
|2022-08-10T00:00:00Z|  17.7|           1.0|     17.7|
|2022-08-05T00:00:00Z| 19.74|           1.0|    19.74|
+--------------------+------+--------------+---------+
only showing top 20 rows

+-------------------+
|               date|
+-------------------+
|2022-08-22 02:00:00|
|2022-08-22 02:00:00|
|2022-08-19 02:00:00|
|2022-08-19 02:00:00|
|2022-08-19 02:00:00|
|2022-08-18 02:00:00|
|2022-08-18 02:00:00|
|2022-08-18 02:00:00|
|2022-08-18 02:00:00|
|2022-08-18 02:00:00|
|2022-08-16 02:00:00|
|2022-08-14 02:00:00|
|2022-08-13 02:00:00|
|2022-08-12 02:00:00|
|2022-08-11 02:00:00|
|2022-08-11 02:00:00|
|2022-08-11 02:00:00|
|2022-08-10 02:00:00|
|2022-08-10 02:00:00|
|2022-08-05 02:00:00|
+-------------------+
only showing top 20 rows

root
 |-- date: timestamp (nullable = true)
 |-- merchant: string (nullable = true)
 |-- description: string (nullable = true)
 |-- money_out: string (nullable = true)
 |-- money_in: string (nullable = true)
 |-- account: string (nullable = false)
 |-- account_country: string (nullable = false)
 |-- spending_category: string (nullable = false)
 |-- type: string (nullable = true)
 |-- original_currency_amount: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- conversion_rate: double (nullable = true)
 |-- merchant_town: string (nullable = true)
 |-- merchant_postcode: string (nullable = true)
 |-- merchant_country: string (nullable = true)

In [18]:
x=capital_one.cap_tbl
x.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- merchant: string (nullable = true)
 |-- description: string (nullable = true)
 |-- money_out: string (nullable = true)
 |-- money_in: string (nullable = true)
 |-- account: string (nullable = false)
 |-- account_country: string (nullable = false)
 |-- spending_category: string (nullable = false)
 |-- type: string (nullable = true)
 |-- original_currency_amount: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- conversion_rate: double (nullable = true)
 |-- merchant_town: string (nullable = true)
 |-- merchant_postcode: string (nullable = true)
 |-- merchant_country: string (nullable = true)

In [19]:
tots=bunq_tbl.union(x)

In [20]:
tots.show(truncate=False)

+-------------------+------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------+---------+--------+-------+---------------+-----------------+----+------------------------+--------+---------------+-------------+-----------------+----------------+
|date               |merchant                                              |description                                                                                                                   |money_out|money_in|account|account_country|spending_category|type|original_currency_amount|currency|conversion_rate|merchant_town|merchant_postcode|merchant_country|
+-------------------+------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------+---------+--------+-------+---------------+-----------------+----+------------------------+--------+---------------+-------------+-----------------+----------------+
|2022-01-01 00:00:00|bunq                                                  |Interest payment                                                                                                              |         |0.09    |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-03 00:00:00|Vattenfall Klantenservice N.V.                        |515403848746 Factnr 40050983832 BTW 13,02 Termijn dec 2021 Klantnr 25131236 CRN 3015061646 Eef Kamerbeekstra 206  1095 MP AMST|75.0     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-04 00:00:00|Nomzamo Ncube                                         |null                                                                                                                          |300.0    |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-05 00:00:00|BUDGET MOBIEL                                         |O226496421/+31610316325 - Onbeperkt 1 jaar incl. 3 maanden korting EUR 5,00 (kenmerk: 1200-0000-3125-9548)                    |15.0     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-06 00:00:00|GREENCHOICE                                           |Uw termijnnota met notanummer GC0084939194 over januari 2022 voor postcode 1095MP                                             |43.0     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-06 00:00:00|Trainmore Piet Heinkade                               |01-01-2022 / 31-01-2022                                                                                                       |44.0     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-11 00:00:00|Nomzamo Ncube                                         |null                                                                                                                          |250.0    |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-13 00:00:00|NS Groep N.V.                                         |R010210190054 0030009239627326 NSFLEXR01_0210190054                                                                           |5.1      |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-17 00:00:00|DITZO                                                 |7585397304 Premie periode 15-01-2022 - 14-02-2022 Ditzo Doorlopende Reisverz.                                                 |2.77     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-19 00:00:00|bunq                                                  |invoice 7484677                                                                                                               |8.99     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-23 00:00:00|DHL International B.V. via WorldPay Customer Payments |21536643783 0030009332558834 Betaling op DHL Global Payment P                                                                 |70.91    |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-23 00:00:00|NS-Schiphol 212                                       |NS-Schiphol 212 LUCHTHAVEN SC, NL                                                                                             |5.7      |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-24 00:00:00|ALBERT HEIJN 2211                                     |ALBERT HEIJN 2211 AMSTERDAM, NL                                                                                               |14.51    |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-24 00:00:00|EMAKINA.NL B.V.                                       |Salaris Januari 2022                                                                                                          |         |3679.74 |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-26 00:00:00|T-MOBILE THUIS B.V.                                   |T-Mobile Thuis NTV56735 Factuur TMT1021295832                                                                                 |35.0     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-26 00:00:00|ALBERT HEIJN 2211                                     |ALBERT HEIJN 2211 AMSTERDAM, NL                                                                                               |9.92     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-26 00:00:00|Thuisbezorgd.nl via Takeaway.com                      |MQCLTA 0030009371716422 bestelling Natraj Indian Resta via                                                                    |18.14    |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-26 00:00:00|BPD Woningfonds                                       |Eef kamerbeekstraat 206                                                                                                       |1207.0   |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-26 00:00:00|Barnwoodweb by MultiSafepay collecting for Barnwoodweb|557397999 1151000557397999 Payment for order #BWW-00083079 Barnwoodweb                                                        |34.9     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
|2022-01-26 00:00:00|Paint-discount via PAY.nl                             |1678166106X3a89e 0370240462510574 Paintdiscount.nl 25193560834232                                                             |10.9     |        |bunq   |NL             |                 |    |null                    |euro    |null           |             |                 |                |
+-------------------+------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------+---------+--------+-------+---------------+-----------------+----+------------------------+--------+---------------+-------------+-----------------+----------------+
only showing top 20 rows

In [22]:
tots.toPandas().to_csv('tots.csv')