#INGEST STATEMENT

In [1]:
import import_ipynb

In [2]:
from modules.ingest_statement import *

importing Jupyter notebook from C:\Users\nomnc\OneDrive\.ipynb_checkpoints\modules\ingest_statement.ipynb

In [3]:
X=create_onedrive_directdownload('https://1drv.ms/x/s!AiVkYGtq2xelg8Qri9XuUzhAcHgLng?e=oklEp6')

## Read CapitalOne File

In [4]:
cap_tbl=read_file(X)

## Convert columns to lower case

In [5]:
for col in cap_tbl.columns:
    cap_tbl = cap_tbl.withColumnRenamed(col, col.lower())

## Drop 'posteddate,recurringpayment and debitcreditcode' attributes

In [6]:
cap_tbl=cap_tbl.drop('posteddate','recurringpayment','debitcreditcode')

In [7]:
from pyspark.sql.functions import when,lit

## Create 'money_in' attribute

In [8]:
cap_tbl=cap_tbl.withColumn("money_in", \
              when((cap_tbl.conversionrate == 0),lit(cap_tbl.amount)) \
              .otherwise(lit(''))\
             )

In [9]:
#cap_tbl.select('date','amount','conversionrate','money_in').filter("conversionrate=='0'").show()

## Create 'money_out' attribute

In [10]:
cap_tbl=cap_tbl.withColumn("money_out", \
              when((cap_tbl.conversionrate >0),lit(cap_tbl.amount)) \
              .otherwise(lit(''))\
             )

In [11]:
cap_tbl.select('date','amount','conversionrate','money_out').filter("conversionrate>'0'").show()

+--------------------+------+--------------+---------+
|                date|amount|conversionrate|money_out|
+--------------------+------+--------------+---------+
|2022-08-22T00:00:00Z| 36.39|           1.0|    36.39|
|2022-08-22T00:00:00Z|   2.3|           1.0|      2.3|
|2022-08-19T00:00:00Z|   4.6|           1.0|      4.6|
|2022-08-19T00:00:00Z| 23.65|           1.0|    23.65|
|2022-08-19T00:00:00Z| 26.65|           1.0|    26.65|
|2022-08-18T00:00:00Z|   9.0|           1.0|      9.0|
|2022-08-18T00:00:00Z|   4.6|           1.0|      4.6|
|2022-08-18T00:00:00Z|   1.0|           1.0|      1.0|
|2022-08-18T00:00:00Z| 17.96|           1.0|    17.96|
|2022-08-18T00:00:00Z|  4.45|           1.0|     4.45|
|2022-08-16T00:00:00Z| 23.75|           1.0|    23.75|
|2022-08-14T00:00:00Z|  9.99|           1.0|     9.99|
|2022-08-13T00:00:00Z|  38.5|           1.0|     38.5|
|2022-08-12T00:00:00Z| 41.14|           1.0|    41.14|
|2022-08-11T00:00:00Z|  3.95|           1.0|     3.95|
|2022-08-11T00:00:00Z|   2.0|           1.0|      2.0|
|2022-08-11T00:00:00Z| 17.45|           1.0|    17.45|
|2022-08-10T00:00:00Z|  7.31|           1.0|     7.31|
|2022-08-10T00:00:00Z|  17.7|           1.0|     17.7|
|2022-08-05T00:00:00Z| 19.74|           1.0|    19.74|
+--------------------+------+--------------+---------+
only showing top 20 rows

## Drop 'amount' attribute

In [12]:
cap_tbl=cap_tbl.drop('amount')

## Rename 'merchant.name' to merchant

In [13]:
cap_tbl=cap_tbl.withColumnRenamed('merchant.name','merchant')

## Rename 'originalcurrencyamount' to original_currency_amount

In [14]:
cap_tbl=cap_tbl.withColumnRenamed('originalcurrencyamount','original_currency_amount')

## Rename 'conversionrate' to conversion_rate

In [15]:
cap_tbl=cap_tbl.withColumnRenamed('conversionrate','conversion_rate')

## Rename 'merchant.town' to merchant_town

In [16]:
cap_tbl=cap_tbl.withColumnRenamed('merchant.town','merchant_town')

## Rename 'merchant.postcode' to merchant_postcode

In [17]:
cap_tbl=cap_tbl.withColumnRenamed('merchant.postcode','merchant_postcode')

## Rename 'merchant.country' to merchant_country

In [18]:
cap_tbl=cap_tbl.withColumnRenamed('merchant.country','merchant_country')

In [19]:
from pyspark.sql import functions as F

In [20]:
cap_tbl=cap_tbl.withColumn('date', F.col('date').cast("timestamp"))

## add buffer attributes to prepare for union

In [21]:
cap_tbl=cap_tbl.select(
"date",
"merchant",
"description",
"money_out",
"money_in",
lit('capital one').alias("account"),
lit('UK').alias("account_country"),
lit('').alias("spending_category"),
"type",
"original_currency_amount",
"currency",
"conversion_rate",
"merchant_town",
"merchant_postcode",
"merchant_country"
)

In [22]:
cap_tbl.select('date').show()

+-------------------+
|               date|
+-------------------+
|2022-08-22 02:00:00|
|2022-08-22 02:00:00|
|2022-08-19 02:00:00|
|2022-08-19 02:00:00|
|2022-08-19 02:00:00|
|2022-08-18 02:00:00|
|2022-08-18 02:00:00|
|2022-08-18 02:00:00|
|2022-08-18 02:00:00|
|2022-08-18 02:00:00|
|2022-08-16 02:00:00|
|2022-08-14 02:00:00|
|2022-08-13 02:00:00|
|2022-08-12 02:00:00|
|2022-08-11 02:00:00|
|2022-08-11 02:00:00|
|2022-08-11 02:00:00|
|2022-08-10 02:00:00|
|2022-08-10 02:00:00|
|2022-08-05 02:00:00|
+-------------------+
only showing top 20 rows

## Correct Data types to prepare for Union

In [23]:
cap_tbl.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- merchant: string (nullable = true)
 |-- description: string (nullable = true)
 |-- money_out: string (nullable = true)
 |-- money_in: string (nullable = true)
 |-- account: string (nullable = false)
 |-- account_country: string (nullable = false)
 |-- spending_category: string (nullable = false)
 |-- type: string (nullable = true)
 |-- original_currency_amount: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- conversion_rate: double (nullable = true)
 |-- merchant_town: string (nullable = true)
 |-- merchant_postcode: string (nullable = true)
 |-- merchant_country: string (nullable = true)